@model TModel
@{
    ViewData["Title"] = "Gracias";
}

<h2>¡Gracias por completar la encuesta!</h2>
<p>Esta encuesta no guarda datos, es solo una demostración visual.</p>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>