@model IEnumerable<Gestper.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Trabajadores";
}

<h2>Lista de Trabajadores</h2>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Ver Tickets</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var usuario in Model)
    {
        <tr>
            <td>@usuario.Nombre</td>
            <td>@usuario.Correo</td>
            <td>
                <a asp-action="VerTickets"
                   asp-controller="Usuario"
                   asp-route-id="@usuario.IdUsuario"
                   class="btn btn-info btn-sm">
                    Ver Tickets
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>